<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MozillaReality/ammo.js@8bbc0ea/builds/ammo.wasm.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-physics-system@v4.2.2/dist/aframe-physics-system.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="application/javascript">
        const VOM_HOST = "http://{{ host }}:{{ port }}/" // サーバーのURLに置き換える
    </script>
</head>
<body>
    <div id="header">
        <div class="left-block">
            <span>W・S・A・Dキーで前後左右に移動。マウス左ドラッグで目線を回転。</span>
        </div>
    </div>

    <a-scene physics="driver: ammo; debug: false; gravity: -9.8; debugDrawMode: 1">
        <!-- カメラ -->
        <a-camera id="camera" far="1500" fov="50" position="138 16 377" rotation="0 0 0"></a-camera>
        <a-entity camera look-controls wasd-controls="acceleration:0"></a-entity>

        <a-entity frame-logger></a-entity>

        <a-plane rotation="-90 0 0" geometry="primitive: plane; height: 10; width: 10"
                 position="140 0 264"
                 ammo-body="type: static"
                 ammo-shape="type: box"></a-plane>
        <a-entity id="board"
                  geometry="primitive: box; depth: 2; height: 2; width: 2" material="color: #deb887"
                  ammo-body
                  ammo-shape="type: box;"
                  position="105.2 150 310.6">
        </a-entity>


        <!-- UI -->
        <div id="formContainer">
            <textarea id="message_list" cols="31" rows="15" readonly></textarea>
            <form id="myForm">
                <label for="chatInput"></label>
                <input type="text" id="chatInput" placeholder="チャット欄"/>
                <button id="bt_chat_send" value="送信">送信</button>
            </form>
        </div>


        <a-assets>
            <!-- スカイボックスアセット -->
            <a-asset-item id="sky_asset" src="{{ url_for('static', filename='model/sky.glb') }}"></a-asset-item>

            <img id="man01" alt="" src="{{ url_for('static', filename='img/男性夏服1.gif') }}">
            <img id="woman01" alt="" src="{{ url_for('static', filename='img/女性夏服1.gif') }}">

            <!-- マップアセット -->
            {% block content_assets %}{% endblock %}

        </a-assets>

        <!-- エンティティ -->
        <!-- スカイボックス -->
        <a-entity id="sky" gltf-model="#sky_asset" position="0.0 450.0 0.0" scale="1 1 1"></a-entity>

        <a-image name="男の子1" src="#man01" scale="1 1 1" position="137.5 15.5 335" rotation="0 0 0" material="side: double"
                 static-body></a-image>
        <a-image name="女の子1" src="#woman01" scale="1 1 1" position="138 15.5 335" rotation="0 0 0" material="side: double"
                 static-body></a-image>

        <!-- マップエンティティ -->
        {% block content_entities %}{% endblock %}

    </a-scene>


    <script type="module">
        /* コリジョン設定 */
        import {gltfPhysicsObjectComponent} from '/static/js/components/gltfPhysicsObjectComponent.js';

        // gltfPhysicsObjectComponentをここで使用する
        AFRAME.registerComponent('physics-object', gltfPhysicsObjectComponent);
    </script>

    <!-- メインロジック -->
    <script type="application/javascript" src="/static/js/main.js"></script>
</body>
</html>
